/** 
 * @name Stardust Night
 * @version 1.0
 * @author ilman01
 * @source https://github.com/Elisniper/Glass-Wave
 * @description A modified version of Glass Wave by Elisniper
 * @website https://xbased.net
*/



/* Discord Theme import */
@import url(https://elisniper.github.io/Glass-Wave/release/import.css);

:root{
    --var-chat-bubbles-background: #0f0311a8;
    --var-chat-bubbles-edge-background: #351e3848;
    --var-chat-mentioned: #c486cc67;
    /*--var-accent: #851a9731;*/
    --var-accent: #1f0632;
    /*--var-popout-color: #1b0422ec;*/
    --var-popout-color: #1b0422c2;
    --var-background: url(https://raw.githubusercontent.com/ilman01/Vencord/main/my_themes/StardustNightBG.png) ;
    };